@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";


@theme {
  --color-primary: #ff6a00;
  --color-dark: #0a0a0a;
  --color-light: #ffffff;
  --color-gray: #d1d5db;
}



body {
  font-family: system-ui, sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

html{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;  
}
/* Swiper navigation (setas) */
.swiper-button-next,
.swiper-button-prev {
  color: #ff6a00;
  transition: 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ffa94d;
}

/* Bolinhas da paginação */
.swiper-pagination-bullet {
  background-color: #ff6a00;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background-color: #ff6a00;
  opacity: 1;
}