@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";


@theme {
  --color-primary: #ff6a00;
  --color-dark: #0a0a0a;
  --color-light: #ffffff;
  --color-gray: #d1d5db;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
}